# This is a reusable workflow
# (https://docs.github.com/en/actions/using-workflows/reusing-workflows#calling-a-reusable-workflow),
# called by python-ci-full.yml and python-ci-minimal.yml.

name: TileDB-SOMA Python CI

on:
  workflow_call:
    inputs:
      python_version:
        required: true
        type: string
      os:
        required: true
        type: string
      cc:
        required: false
        type: string
      cxx:
        required: false
        type: string
      report_codecov:
        required: true
        type: boolean
      run_lint:
        required: false
        type: boolean
        default: false

jobs:
  lint:
    if: inputs.run_lint
    runs-on: ${{ inputs.os }}
    steps:
    - name: Checkout TileDB-SOMA
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.python_version }}
        cache: pip
        cache-dependency-path: ./.github/workflows/python-ci-single.yml
    - name: Check cache hash keys
      run: |
        echo 'Expected "Set up Python" hash: '"${{ hashFiles('.github/workflows/python-ci-single.yml') }}"
        echo '"Set up Python" should NOT use setup.py hash: '"${{ hashFiles('apis/python/setup.py') }}"
        wget -O old-python-ci-single.yml https://raw.githubusercontent.com/single-cell-data/TileDB-SOMA/main/.github/workflows/python-ci-single.yml
        echo '"Set up Python" should also NOT use hash of old python-ci-single.yml: '"${{ hashFiles('old-python-ci-single.yml') }}"
    - name: Install pre-commit
      run: python -m pip -v install pre-commit
    - name: Log pip dependencies
      run: python -m pip list
    - name: Run pre-commit hooks on all files
      run: pre-commit run -a -v
